*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    position: relative;
    width: 700px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    margin: 100px auto 0 auto; /* top right bottom left */
}

.absolute{ position: absolute; }

.sol{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 238, 0);
    border-radius: 50%; 
    bottom: 137px;
    right: 211px;
    /* pongalo en la parte inferior derecha (top, right, left, bottom) */
}

